flows.json
[{"id":"ccf49bf8.6da35","type":"http in","z":"34e729b9.c8d89e","name":"","url":"/hook","method":"post","upload":true,"swaggerDoc":"","x":110,"y":200,"wires":[["79c36f30.f375c","9d0802f5.ee4dd"]]},{"id":"88b16de4.6084f","type":"http response","z":"34e729b9.c8d89e","name":"","statusCode":"200","headers":{},"x":920,"y":60,"wires":[]},{"id":"db36cabf.bb9868","type":"function","z":"34e729b9.c8d89e","name":"Auth-Splitter","func":"var token = msg.payload.token;\nvar auth = msg.payload.auth;\n\nif (token==auth){\n    return [msg,null];\n}else{\n    return [null,msg];\n}","outputs":2,"noerr":0,"x":450,"y":200,"wires":[["8cbd87f5.179138","570e941d.b38ec4"],["f4a01d80.f56b7","c0cd576f.f305e8"]]},{"id":"37858cb1.6c324c","type":"http response","z":"34e729b9.c8d89e","name":"","statusCode":"403","headers":{},"x":920,"y":340,"wires":[]},{"id":"9e41b910.07f74","type":"pushover","z":"34e729b9.c8d89e","name":"","device":"","title":"Presence Message","priority":"-1","sound":"","url":"","url_title":"","html":false,"x":950,"y":180,"wires":[]},{"id":"2dc384b2.18dd84","type":"pushover","z":"34e729b9.c8d89e","name":"","device":"","title":"Unauthorized Alarm","priority":"2","sound":"","url":"","url_title":"","html":false,"x":950,"y":240,"wires":[]},{"id":"8cbd87f5.179138","type":"function","z":"34e729b9.c8d89e","name":"Message Scraper","func":"var msg1 = {};\nmsg1.payload = msg.payload.message;\nreturn msg1;","outputs":1,"noerr":0,"x":710,"y":100,"wires":[["95c4ed59.bf397","9e41b910.07f74"]]},{"id":"79c36f30.f375c","type":"change","z":"34e729b9.c8d89e","name":"Token","rules":[{"t":"set","p":"payload.auth","pt":"msg","to":"!SECRET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["db36cabf.bb9868"]]},{"id":"ed3b9509.16eb1","type":"comment","z":"34e729b9.c8d89e","name":"Set Token","info":"","x":300,"y":161,"wires":[]},{"id":"f4a01d80.f56b7","type":"change","z":"34e729b9.c8d89e","name":"Scrape token","rules":[{"t":"set","p":"payload.auth","pt":"msg","to":"--secret--","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[["2dc384b2.18dd84"]]},{"id":"570e941d.b38ec4","type":"function","z":"34e729b9.c8d89e","name":"HTTP response","func":"msg.payload = \"*** Webhook received ***\";\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":60,"wires":[["88b16de4.6084f"]]},{"id":"c0cd576f.f305e8","type":"function","z":"34e729b9.c8d89e","name":"HTTP response","func":"msg.payload = \"*** Webhook Token incorrect ***\";\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":340,"wires":[["37858cb1.6c324c"]]},{"id":"95c4ed59.bf397","type":"link out","z":"34e729b9.c8d89e","name":"Link2Presence","links":["8ab640d7.9557a8"],"x":1095,"y":100,"wires":[]},{"id":"c032c044.5693f","type":"comment","z":"34e729b9.c8d89e","name":"Link to Presence Dashboard","info":"","x":1200,"y":60,"wires":[]},{"id":"ecadf993.edd3d8","type":"syslog-node","z":"34e729b9.c8d89e","name":"Syslog","level":"4","category":"4","process":"nodered","pid":"0","hostname_mode":"automatic","hostname":"","x":530,"y":400,"wires":[["7a0c448f.3c7b4c"]]},{"id":"7a0c448f.3c7b4c","type":"tcp out","z":"34e729b9.c8d89e","host":"127.0.0.1","port":"1514","beserver":"client","base64":false,"end":true,"name":"tcp://udoo:1514","x":700,"y":400,"wires":[]},{"id":"9d0802f5.ee4dd","type":"function","z":"34e729b9.c8d89e","name":"Syslog converter","func":"var msg1 = {};\nmsg1.payload = 'Presence || Message: \\\"'+msg.payload.message+'\\\" Token: \\\"'+msg.payload.token+\"\\\"\";\nreturn msg1;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["ecadf993.edd3d8"]]}]